* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-size: 20px;
}

body {
  background: rgb(255,255,255);
}

.news, .activities {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}



header {
  padding: 10px 0;
  border-bottom: 1px solid black;
  background: rgba(255, 255, 255, 1);
  position: relative;
  min-height: 400px;
  background: -moz-linear-gradient(left, rgba(41,137,216,0.22) 0%, rgba(52,143,218,0.22) 1%, rgba(125,185,232,0.28) 8%, rgba(125,185,232,0.43) 27%, rgba(32,124,202,0.61) 50%, rgba(32,124,202,0.91) 89%, rgba(32,124,202,1) 100%),url('../images/background.png');
  background: -webkit-linear-gradient(left, rgba(41,137,216,0.22) 0%,rgba(52,143,218,0.22) 1%,rgba(125,185,232,0.28) 8%,rgba(125,185,232,0.43) 27%,rgba(32,124,202,0.61) 50%,rgba(32,124,202,0.91) 89%,rgba(32,124,202,1) 100%), url('../images/background.png');
  background: linear-gradient(to right, rgba(41,137,216,0.22) 0%,rgba(52,143,218,0.22) 1%,rgba(125,185,232,0.28) 8%,rgba(125,185,232,0.43) 27%,rgba(32,124,202,0.61) 50%,rgba(32,124,202,0.91) 89%,rgba(32,124,202,1) 100%), url('../images/background.png');
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#382989d8', endColorstr='#207cca',GradientType=1 );
}

.name {
  text-align: center;
}

.header-contacts {
  text-align: center;
  height: inherit;
  padding: 30px;
}

.header-contacts span {
  font-size: 32px;
  margin-right: 15px;
}

.header-contacts span a {
  color: yellow;
}

.header-contacts span:last-child {
  margin-right: 0px;
}

.header-contacts span:last-child a {
  color: green;
}

.navigation {
  padding: 5px 15px;
  margin-bottom: 40px;
  background: rgba(255, 255, 255, 1);
}

.slider {
  height: 300px;
  background: rgba(255, 255, 255, 1);
  margin-bottom: 40px;
}

.news {
  background: rgba(255, 255, 255, 1);
  padding: 0 10px 20px;
  margin-bottom: 40px;
}

.news-header {
  padding: 5px 0;
  border-bottom: 1px solid #000;
}

.news-container h3 a {
  text-decoration: none;
  color: blue;
}

.read-more {
  text-decoration: none;
  color: blue;
}

.read-all {
  margin-top: 20px;
  padding: 0 10px;
}

.activities {
  background: rgba(255, 255, 255, 1);
  padding: 0 10px 20px;
  margin-bottom: 40px;
}

.activities-header {
  padding: 5px 0;
  border-bottom: 1px solid #000;
}

.activities-container {
  padding-top: 50px;
  text-align: center;
}

.sponsor {
  background: rgba(0, 255, 0, 1);
  padding: 0 10px 20px;
}



.sponsor-container {
  padding-top: 25px;
  text-align: center;
}

footer {
  background: rgba(255, 255, 255, 1);
  padding: 0 10px 0;
}

.footer-header {
  padding: 5px 0;
  border-bottom: 1px solid #000;
  text-align: center;
}

.footer-contacts, .become-part {
  text-align: center;
}

.become-part ul {
  display: inline-block;
  text-align: left;
  list-style-type: none;
}

.copyright {
  padding: 10px 0;
  background: rgba(200, 200, 200, 1);
}

.copyright p {
  margin: 0;
  text-align: center;
  font-size: 14px;
}
